@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap");

.build {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 20px;
}

.build .header {
  position: relative;
  text-align: center;
  padding-top: 36px;
}

.resumeScore {
  width: 100%;
  height: 4px;
  background-color: hsl(222, 45%, 96%);
  position: relative;
  margin-top: 36px;
}

.resumeScore .score {
  position: absolute;
  top: -24px;
  left: 0;
  font-size: 12px;
  font-weight: 500;
  background-color: hsl(353, 98%, 74%);
  color: hsl(207, 100%, 98%);
  padding: 1px 4px;
  border-radius: 4px;
  letter-spacing: 0.5px;
  display: flex;
  gap: 8px;
}

.resumeScore .score::after {
  content: "Resume Score";
  position: absolute;
  top: 0;
  left: 115%;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  color: hsl(223, 15%, 57%);
}

.resumeScore .scorebar {
  height: 100%;
  background-color: hsl(353, 98%, 74%);
}

.tip {
  position: absolute;
  top: -24px;
  right: 0;
  font-size: 12px;
  font-weight: 500;
  color: hsl(223, 15%, 57%);
}

.tip span {
  background-color: hsl(148, 37%, 93%);
  color: hsl(148, 37%, 40%);
  padding: 1px 4px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.section h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  line-height: 24px;
  margin-bottom: 12px;
}

.section p {
  font-size: 14px;
  font-weight: 400;
  color: hsl(223, 15%, 57%);
  line-height: 20px;
  margin-top: 0;
}

.section_elements {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section_fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  column-gap: 36px;
  row-gap: 16px;
  animation: slidefadein 0.5s;
}

.section_fields:has(summary) {
  display: flex;
  flex-direction: column;
}

.section_fields:has(summary) > *:not(summary) {
  margin-top: 16px;
}

.section_elements > * {
  border: 1px solid hsl(226.15deg 37.14% 93.14%);
  border-radius: 6px;
  padding: 16px;
}

.section_element_actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.section_element_actions button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: hsl(223, 15%, 57%);
}

.section_element_actions button:hover {
  color: hsl(207, 88%, 52%);
}

.section_fields summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 20px;
  cursor: pointer;
  outline: none;
}

.section_fields summary:hover {
  color: hsl(207, 88%, 52%);
}

.section label {
  font-size: 15px;
  font-weight: 400;
  color: hsl(223.13deg 14.68% 57.25%);
  line-height: 20px;
  margin-bottom: 0.1rem;
}

.input_text,
.input_textarea {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  grid-column-end: span 1;
}

.input_textarea {
  grid-column-end: span 2;
}

.input_text input,
.input_textarea textarea {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #666;
  min-width: none;
  margin: 4px 0;
  padding: 8px;
  background-color: hsl(222, 45%, 96%);
  caret-color: hsl(207, 88%, 52%);
  margin-bottom: -2px;
  border-radius: 6px;
  border-bottom: 2px solid transparent;
}

.input_text input:focus,
.input_textarea textarea:focus {
  border-radius: 6px 6px 0 0;
  border-bottom: 2px solid hsl(207, 88%, 52%);
}

.input_text .input_title {
  background-color: transparent;
  font-size: 20px;
  line-height: 1.6;
  color: #000;
  margin: 0;
  text-align: center;
}

.language {
  font-size: 16px;
  font-weight: 400;
  color: hsl(223.13deg 14.68% 57.25%);
  line-height: 20px;
}

.input_image label {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  gap: 16px;
  padding: 8px;
  background-color: hsl(222, 45%, 96%);
}

.input_image input {
  display: none;
}

.input_image label img {
  height: 100%;
  max-height: 60px;
  width: auto;
  border-radius: 6px;
  object-fit: cover;
}

.input_textarea textarea {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #666;
  min-width: none;
  margin: 4px 0;
  padding: 8px;
  background-color: hsl(222, 45%, 96%);
  caret-color: hsl(207, 88%, 52%);
  margin-bottom: -2px;
  border-radius: 6px;
  border-bottom: 2px solid transparent;
  resize: none;
  height: 160px;
}

.input_dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  grid-column-end: span 1;
}

.input_dropdown select {
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #666;
  min-width: none;
  margin: 4px 0;
  padding: 8px;
  background-color: hsl(222, 45%, 96%);
  caret-color: hsl(207, 88%, 52%);
  margin-bottom: -2px;
  border-radius: 6px;
  border-bottom: 2px solid transparent;
}

.input_dropdown select:focus {
  border-radius: 6px 6px 0 0;
  border-bottom: 2px solid hsl(207, 88%, 52%);
}

.input_dropdown label {
  font-size: 15px;
  font-weight: 400;
  color: hsl(223.13deg 14.68% 57.25%);
  line-height: 20px;
  margin-bottom: 0.1rem;
}

.input_toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  grid-column-end: span 1;
}

.input_toggle input {
  display: none;
}

.input_toggle label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 6px;
  gap: 16px;
  padding: 10px;
  background-color: hsl(222, 45%, 96%);
}

.input_toggle label .toggle {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: hsl(223, 15%, 57%);
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.input_toggle label .toggle::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease-in-out;
}

.input_toggle input:checked + label .toggle {
  background-color: hsl(207, 88%, 52%);
}

.input_toggle input:checked + label .toggle::after {
  transform: translateX(20px);
}

.input_list_elements {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
}

.sections > .input_list > label {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 12px;
}

.sections > .input_list {
  margin-bottom: 16px;
}

.input_list p {
  font-size: 14px;
  font-weight: 400;
  color: hsl(223, 15%, 57%);
  line-height: 20px;
  margin-top: 12px;
}

.input_list_label {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 20px;
  margin-bottom: 0.1rem;
}

.input_list_String_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  animation: slidefadein 0.5s;
}

.slidefadein {
  animation: slidefadein 0.5s;
}

.slidefadeout,
.slidefadeout > * {
  animation: slidefadeout 0.5s;
}

@keyframes slidefadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slidefadeout {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.input_list_element {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(222, 45%, 96%);
  padding: 16px;
  border-radius: 6px;
  animation: slidefadein 0.5s;
}

.input_list_element[open] > *:not(summary) {
  margin-top: 16px;
}

.input_list_element input,
.input_list_String_element input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #666;
  width: 100%;
  margin: 4px 0;
  padding: 8px;
  background-color: hsl(222, 45%, 96%);
  caret-color: hsl(207, 88%, 52%);
  margin-bottom: -2px;
  border-radius: 6px;
  border-bottom: 2px solid transparent;
}

.input_list_element input:focus,
.input_list_String_element input:focus {
  border-radius: 6px 6px 0 0;
  border-bottom: 2px solid hsl(207, 88%, 52%);
}

.input_list_element button,
.input_list_String_element button {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: hsl(223, 15%, 57%);
}

.input_list_element button:hover,
.input_list_String_element button:hover {
  color: hsl(207, 88%, 52%);
}

.input_list_element summary {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #666;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: left;
}

.section_actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.section_actions button {
  width: 100%;
  padding: 6px 16px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: hsl(207, 88%, 52%);
  background-color: #fff;
  border-radius: 6px;
  text-align: left;
  cursor: pointer;
}

.section_actions button:hover {
  background-color: hsl(207, 100%, 98%);
}

.slide_up_icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(223, 15%, 57%);
}

.slide_up_icon:active,
.slide_up_icon:focus,
.slide_up_icon:hover {
  color: hsl(207, 88%, 52%);
}

.input_list_elements .dragging {
  opacity: 0.5;
}

.input_list_elements .draggedOver {
  border: 2px dashed hsl(207, 88%, 52%);
}
