body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body *:has(#print_content) {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #print_content {
    visibility: visible;
    height: 297mm;
    width: 210mm;
    position: fixed;
    top: 0;
    left: 0;
  }
}
